services:
  - type: web
    name: new_diamond_academy
    runtime: php
    plan: free
    buildCommand: cd laravel && composer install --no-dev
    startCommand: cd laravel && php artisan serve --host 0.0.0.0
    routes:
      - path: /
        dest: /laravel/public/index.php
    env:
      - key: APP_ENV
        value: production
      - key: APP_KEY
        fromDatabase:
          name: app_key
      - key: LOG_CHANNEL
        value: stack
