# Example Railway env variables (DO NOT commit real secrets)
APP_KEY=
APP_ENV=production
APP_DEBUG=false
APP_URL=
DB_CONNECTION=pgsql
DATABASE_URL=
SESSION_DRIVER=file
QUEUE_CONNECTION=database
FILESYSTEM_DISK=local
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
AWS_BUCKET=
